{% extends 'FoodBase.html' %}
{% block title %}
Корзина
{% endblock %}
{% block body %}
{% for i in data %}
<div class='one'>
<img src='/food/{{i.picture}}' width='370' height ='250'>
<form action='/{{i.id}}/from_busket' method='POST'>
<button>Удалить</button>
</form>
</div>
{% endfor %}
<form action='/order' method='POST' style='margin-top:30px;'>
<table>
<tr><td>Адрес</td>
<td><input type='text' name='address'></td>
</tr>
<tr><td>Номер телефона</td>
<td><input type='tel' name='phone'></td>
</tr>
<tr><td>Ваши ФИО</td>
<td><input type='text' name='name'></td>
</tr>
<tr><td>Дополнительная информация</td>
<td><textarea cols='50' rows='3' name='info'></textarea></td>
</tr>
</table>
<button>Заказать ({{summ}} руб.)</button>
</form>
{% endblock %}